body {
  background-color: #eee;
}
.loading {
  border: 3px solid #3a3;
  border-right: 3px solid #fff;
  border-bottom: 3px solid #fff;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  -webkit-animation: loading 1s infinite linear;
  -moz-animation: loading 1s infinite linear;
  -o-animation: loading 1s infinite linear;
  animation: loading 1s infinite linear;
}
@-webkit-keyframes loading {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes loading {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}
@-o-keyframes loading {
  from {
    -o-transform: rotate(0deg);
  }
  to {
    -o-transform: rotate(360deg);
  }
}
@keyframes loading {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.abgne-loading-20140104-2 {
  position: relative;
  height: 100px;
  width: 100px;
}
.abgne-loading-20140104-2 .loading {
  border: 6px solid #168;
  border-right: 6px solid #fff;
  border-bottom: 6px solid #fff;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  -webkit-animation: loading 1s infinite linear;
  -moz-animation: loading 1s infinite linear;
  -ms-animation: loading 1s infinite linear;
  -o-animation: loading 1s infinite linear;
  animation: loading 1s infinite linear;
}
.abgne-loading-20140104-2 .word {
  color: #168;
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  text-align: center;
  font-size: 72px;
  line-height: 72px;
  font-family: 微軟正黑體, arial;
  margin: 18px 0 0 20px;
  padding: 0;
}
